<article id="article1" class="home"> <!-- The new article tag. The id is supplied so it can be scrolled into view. -->
                <h2>Home</h2>
                
                <div class="line"></div>
                
                <div class="articleBody clear">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in lacus at lacus pharetra rhoncus. Vivamus eget nunc erat, at congue massa. Aliquam dictum ligula semper urna ultrices ultrices. Cras ut ultrices purus. Praesent volutpat nisi sed lacus gravida condimentum. Sed vitae dolor sit amet purus convallis posuere consequat ut mauris. Donec eget turpis lorem, quis tincidunt sem. Quisque vel felis vitae metus fermentum ullamcorper id et tellus. Integer quam urna, mollis vel interdum consectetur, adipiscing lacinia nisi.</p>


</div>
       </article>