@import "layout.css.scss";
@import "home.css.scss";
@import "users.css.scss";
* {
margin:0;
padding:0;
}

header,footer,article,section,hgroup,nav,figure {
display:block;
}

header img {
background:#fff;
padding:1em;
}

p {
color:#000;
font-family:"Lucida Grande", Arial, sans-serif;
font-size:16px;
font-weight:400;
line-height:1.5em;
margin-top:0;
padding-bottom:1em;
}

h1,h2,h3 {
font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
text-shadow:0 1px 1px #000;
}

h3 {
font-size:2em;
font-weight:400;
margin:0 0 1em;
}

h1 {
color:#778fbd;
font-family:"Lucida Grande", Arial, sans-serif;
font-size:3.5em;
font-weight:500;
line-height:32px;
margin-top:4px;
padding:0.5em 0 0;
text-transform:uppercase;
}

h2 {
color:#778fbd;
font-family:"Lucida Grande", Arial, sans-serif;
font-size:2.2em;
font-weight:400;
letter-spacing:0.01em;
margin:0.83em 0 0;
text-transform:uppercase;
}

h4 {
font-weight:700;
margin:1.33em 0;
text-align:center;
}

a,a:visited {
color:#0196e3;
outline:none;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

a img {
border:none;
}

.line {
background-color:#24404c;
border-bottom:1px solid #416371;
height:1px;
margin:1em 0;
overflow:hidden;
}

article .line {
background-color:#15242a;
border-bottom-color:#204656;
margin:1.3em 0;
}

footer .line {
margin:2em 0;
}

nav {
-moz-box-shadow:0 1px 1px #333;
-webkit-box-shadow:0 1px 1px #333;
background:#f8f8f8;
border:1px solid #FCFCFC;
box-shadow:0 1px 1px #333;
padding:0 5px;
position:absolute;
right:0;
top:1em;
}

.clear:after {
clear:both;
content:".";
display:block;
height:0;
visibility:hidden;
}

nav ul li {
display:inline;
}

nav ul li a,nav ul li a:visited {
color:#565656;
display:block;
float:left;
font-size:1.25em;
font-weight:700;
margin:5px 2px;
padding:7px 10px 4px;
text-shadow:0 1px 1px #FFF;
text-transform:uppercase;
}

nav ul li a:hover {
background-color:#f0f0f0;
text-decoration:none;
}

nav,article,nav ul li a,figure {
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}

#page {
margin:0 auto;
position:relative;
width:960px;
}

article {
background-color:#213E4A;
margin:3em 0;
padding:20px;
text-shadow:0 2px 0 #000;
}

figure {
border:3px solid #142830;
float:right;
height:300px;
margin-left:15px;
overflow:hidden;
width:500px;
}

a {
color:#666;
text-decoration:underline;
}

.submit input {
margin-left:4.5em;
}

footer {
font-size:0.825em;
margin-bottom:30px;
text-align:center;
}

footer p {
margin-bottom:-2.5em;
position:relative;
}

footer a,footer a:visited {
background-color:#213e4a;
color:#ccc;
display:block;
padding:2px 4px;
position:relative;
z-index:100;
}

footer a:hover {
background-color:#142830;
text-decoration:none;
}

footer a.by {
float:left;
}

footer a.up {
float:right;
}

#form input:hover,#form textarea:hover,input:focus,textarea:focus {
background-color:#FFFFE0;
}